rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // 대피 안내용 도면/이미지는 모두 공개 읽기
    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
